* {
        margin: 0;
        Padding: 0;
}

.wrapper {
        width: 85%;
        border: 1px solid black;
        color: darkblue;
}

.par1 {
        padding: 10px 0 10px 0;
        background-color: aliceblue;
}

h1 {
        color: darkblue;
        margin-left: 20px;
}

.sec1 {
        width: 20%;
        background-color: aliceblue;
        display: inline-block;
}

.sec2 {
        display: inline-block;
}


.par2 {
        width: 100%;
        background-color: white
}

.char1 {
        display: inline-block;
        width: 75%;
        vertical-align: top;
}

.char2 {
        display: inline-block
}

.char3 {
        display: inline-block
}

.char4 {
        display: inline-block
}

.char5 {
        display: inline-block
}

.char6 {
        display: inline-block
}

.ob {
        background-color: aliceblue;
        width: 98%;
        border-radius: 10px;
        margin-left: 12px;
}

.ob1 {
        margin-left: 20px;
        margin-bottom: 0px;
        color: darkblue;
        padding-bottom: 20px;
}

.box {
        margin-top: 20px;
}

.box1 {
        width: 40%;
        display: inline-block;
}

.box2 {
        background-color: aliceblue;
        display: inline-block;
        vertical-align: top;
        width: 59.6%;
}

.sk1 {
        margin-left: 20px;
        margin-bottom: 20px;
}

.sk2 {
        margin-left: 80px;
        font-weight: 800;
        color: black;
}

.lan1 {
        margin-left: 20px;
        margin-bottom: 20px;
}

.lan2 {
        margin-left: 100px;
        font-weight: 800;
        color: black;
}



.per1 {
        margin-left: 20px;
        margin-bottom: 30px;
}


.add {
        margin-left: 20px;
}

.ed1 {
        margin-left: 20px;
        margin-bottom: 30px;
}

.table {
        width: 96%;
        margin-left: 20px;
        text-align: center;
        margin-bottom: 70px;
}



.a {
        margin-left: 100px;
        display: inline-block;
        margin-bottom: 20px;
}

.b {
        margin-left: 100px;
        display: inline-block;
        margin-bottom: 20px;
}

.b {
        margin-left: 100px;
        display: inline-block;
        margin-bottom: 20px;
}

.c {
        margin-left: 100px;
        display: inline-block;
        margin-bottom: 20px;
}

.d {
        margin-left: 100px;
        display: inline-block;
        margin-bottom: 20px;
}

.f {
        margin-left: 100px;
        display: inline-block;
        padding-bottom: 20px;
}




.q {
        display: inline-block;
        margin-left: 111px;
        color: black;
}

.w {
        display: inline-block;
        margin-left: 85px;
        color: black;
}

.e {
        display: inline-block;
        margin-left: 23px;
        color: black;
}

.r {
        display: inline-block;
        margin-left: 10px;
        color: black;
}

.g {
        display: inline-block;
        margin-left: 35px;
        color: black;
}


.pro1 {
        margin-left: 20px;
        margin-bottom: 30px;
        
}

.wo1 {
        margin-left: 20px;
        margin-bottom: 30px;
}